# build files
build
*.html
*.pdf

# jupyter files
*.ipynb_checkpoints*
__pycache__

# output files created by exercices
io/data/If4_TZ3.txt
*Exo.ipynb
*Exercise.ipynb
io/data/*.h5
io/data/*.ini

# editors auto-backup files
*~

# ignore hidden files
.*

